@model ck_project.Models.ProjectSummary

@{
    ViewBag.Title = "LeadEntry";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sale Contract Management System</title>
    <link href="~/Content/bootstrap.sandstone.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Print.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="pic2" align="center"><img src="~/Content/Images/proposal_pic2.png" /></div>
    <div class="header"><h2>LEAD ENTRY</h2></div>
    <table style="width:100%; font-size:18px">
        <tr>
            <td class="le_title" style="border:none">Lead Number:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.lead_number
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Lead Source:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.lead_source.source_name
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Project Status:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.project_status.project_status_name
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Designer:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.employee.emp_firstname@:&nbsp;@Model.Lead.employee.emp_lastname
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Store Location:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.branch.address.city
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Install /Delivery /Pick-up:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.delivery_status.delivery_status_name
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Remodel or New Construction:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.project_class.class_name
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">In City or Out of City Limits:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        if (Model.Lead.in_city)
                        {
                            @:In City
                        } else
                        {
                            @:Out of City
                        }

                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Project Type:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.project_type.project_type_name
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Responsible Party:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.customer.customer_firstname@:&nbsp;@Model.Lead.customer.customer_lastname
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Project Name/Reference:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.project_name
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Primary Phone:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.phone_number
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Secondary Phone:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.second_phone_number
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Primary Email:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.customer.email
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Secondary Email:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {

                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Jobsite Street Address:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.address.address1
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Jobsite City:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.address.city
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Jobsite State:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.address.state
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Jobsite Zip Code:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.address.zipcode
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Billing Address:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.customer.address.address1
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Billing City:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.customer.address.city
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Billing State:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.customer.address.state
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Billing Zip Code:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.customer.address.zipcode
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Billing Phone:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.customer.phone_number
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Alternate Billing Phone:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        @Model.Lead.customer.second_phone_number
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="le_title">Tax Exempt:</td>
            <td class="le_data">
                @{
                    if (Model.Lead != null)
                    {
                        if (@Model.Lead.tax_exempt)
                        {
                            @:YES
                        }
                        else
                        {
                            @:NO
                        }
                    }
                }
            </td>
        </tr>
    </table>
</body>
</html>
