@model ck_project.Models.ProposalViewModel

@{
    ViewBag.Title = "Proposal_Page2";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link href="@Url.Content("~/Content/Print.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="p2">
        <style type="text/css">
            #r1 {
                top: 300px;
                width:750px;
                text-align:center;
            }

            #r2_1 {
                top: 50%;
                left: 150px;
            }

            #r2_2 {
                top: 180px;
                left: 330px;
            }

            #r3 {
                top: 200px;
                left: 330px;
            }

            #r4 {
                top: 220px;
                left: 330px;
            }

            #r5_1 {
                top: 280px;
                left: 215px;
            }

            #r5_2 {
                top: 280px;
                left: 330px;
            }

            #r6 {
                top: 300px;
                left: 330px;
            }

            #r7{
                top: 320px;
                left: 330px;
            }
            
            #r8_1 {
                top: 340px;
                left: 330px;
            }

            #r8_2 {
                top: 340px;
                left: 465px;
            }

            #r9 {
                top: 380px;
            }
            
            #r10 {
                top: 460px;
            }

            #r11_1 {
                top: 490px;
                left: 75px;
            }

            #r11_2 {
                top: 490px;
                left: 550px;
            }

            #r12 {
                top: 530px;
            }

            #r13_1 {
                top: 560px;
                left: 75px;
            }

            #r13_2 {
                top: 560px;
                left: 550px;
            }

            #r14_1 {
                top: 580px;
                left: 75px;
            }

            #r14_2 {
                top: 580px;
                left: 550px;
            }

            #r15_1 {
                top: 600px;
                left: 75px;
            }

            #r15_2 {
                top: 600px;
                left: 550px;
            }

            #r16 {
                top: 660px;
            }

            #r17 {
                top: 1000px;
                width: 890px;
                text-align: center;
            }

            .s1 {
                FONT-SIZE: 20px;
                color: rgb(38,38,38);
            }

            .s2 {
                FONT-SIZE: 14px;
                color: rgb(0,0,0);
            }

            .s3 {
                FONT-SIZE: 14px;
                color: rgb(0,0,0);
            }

            .s4 {
                FONT-SIZE: 12px;
                color: rgb(0,0,0);
            }

            .s5 {
                FONT-SIZE: 10px;
                color: rgb(0,0,0);
            }
        </style>
        <img src="~/Content/Images/proposal_pic2.png" align="middle" style="position:absolute; left: 30%">
        <div id="r1" class="t s1"><b>Agreement</b></div>
        <div id="r2_1" class="t s2">BETWEEN PURCHASER: </div>
        <div id="r2_2" class="t s3">@Model.Lead.customer.customer_firstname @Model.Lead.customer.customer_lastname</div>
        <div id="r3" class="t s3">@Model.Lead.customer.address.address1</div>
        <div id="r4" class="t s3">@Model.Lead.customer.address.city, @Model.Lead.customer.address.state @Model.Lead.customer.address.zipcode</div>
        <div id="r5_1" class="t s2">AND SELLER: </div>
        <div id="r5_2" class="t s3">Creative Kitchens Incorporated</div>
        <div id="r6" class="t s3">@Model.Lead.branch.address.address1</div>
        <div id="r7" class="t s3">@Model.Lead.branch.address.city, @Model.Lead.branch.address.state @Model.Lead.branch.address.zipcode</div>
        <div id="r8_1" class="t s3">Phone: @Model.Lead.branch.phone_number</div>
        <div id="r8_2" class="t s3">Fax: @Model.Lead.branch.fax_number </div>
        <div id="r9" class="t l s4">
            <p class="wrapper">
                Creative Kitchens agrees to furnish the materials and services set forth in the Products & Materials List (Exhibit A) and the Scope of 
                Work (Exhibit B) annexed hereto.
            </p>
        </div>
        <div id="r10" class="t l s3">The Purchaser agrees to make payment therefore in accordance with the following:</div>
        <div id="r11_1" class="t s3">Total Purchase Price</div>
        <div id="r12" class="t l s3">Schedule of Payment:</div>
        <div id="r13_1" class="t s3">Upon signing of this Proposal 50%</div>
        <div id="r14_1" class="t s3">Upon Start Date of Work 40%</div>
        <div id="r15_1" class="t s3">Upon Substantial Completion 10%</div>
        @if (Model.TotalCost != null)
        {
            <div id="r11_2" class="t s3">$@Model.TotalCost.total_cost1</div>
            <div id="r13_2" class="t s3">$@Model.AmtDueAtSignProposal</div>
            <div id="r14_2" class="t s3">$@Model.AmtDueUponStartWork</div>
            <div id="r15_2" class="t s3">$@Model.AmtDueUponCompletion</div>
        }
        
        <div id="r16" class="t l s4">
            <p class="wrapper">
                1. Purchaser may not change the drawings, plans, specifications, or items specified unless agreed to by Creative Kitchens in writing. 
                Creative Kitchens is not required to accept any such change to this Agreement. Should Purchaser request any changes or extra work, 
                Creative Kitchens shall determine the cost thereof and such work will only be included as part of this Agreement pursuant to a 
                written change to this Agreement signed by both parties. The Purchaser shall pay in advance to Creative Kitchens, the total cost of 
                each change order, which amounts are non-refundable to Purchaser.
            </p>
        </div>
        <div id="r17" class="t s5">Page 1 of 3</div>
    </div>
</body>
</html>

