@model ck_project.Models.ProposalViewModel

@{
    ViewBag.Title = "Proposal_Page2";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/Print.css")" rel="stylesheet" type="text/css" />
</head>
<body style="margin: 0;">
    <div id="p2" style="overflow: hidden; position: relative; width: 935px; height: 1210px;">
        <!-- Begin inline CSS -->
        <style type="text/css">
            #t1_2 {
                left: 57px;
                top: 507px;
                word-spacing: -0.2px;
            }

            #t2_2 {
                left: 57px;
                top: 593px;
                letter-spacing: 0.1px;
                word-spacing: -0.5px;
            }

            #t3_2 {
                left: 111px;
                top: 667px;
                word-spacing: 0.3px;
            }

            #t4_2 {
                left: 288px;
                top: 667px;
                letter-spacing: -0.2px;
            }

            #t5_2 {
                left: 111px;
                top: 703px;
                word-spacing: 0.1px;
            }

            #t6_2 {
                left: 318px;
                top: 703px;
                letter-spacing: -0.2px;
            }

            #t7_2 {
                left: 616px;
                top: 668px;
            }

            #t8_2 {
                left: 447px;
                top: 977px;
                word-spacing: -0.1px;
            }

            #t9_2 {
                left: 628px;
                top: 704px;
            }

            #ta_2 {
                left: 57px;
                top: 779px;
                word-spacing: 1.9px;
            }

            #tb_2 {
                left: 57px;
                top: 800px;
                word-spacing: 0.1px;
            }

            #tc_2 {
                left: 57px;
                top: 820px;
                word-spacing: 7.4px;
            }

            #td_2 {
                left: 57px;
                top: 840px;
                word-spacing: 2.7px;
            }

            #te_2 {
                left: 57px;
                top: 860px;
                letter-spacing: -0.1px;
            }

            #tf_2 {
                left: 304px;
                top: 319px;
                word-spacing: -0.5px;
            }

            #tg_2 {
                left: 434px;
                top: 319px;
                letter-spacing: 0.4px;
                word-spacing: 0.6px;
            }

            #th_2 {
                left: 434px;
                top: 343px;
                letter-spacing: 0.1px;
                word-spacing: -0.4px;
            }

            #ti_2 {
                left: 578px;
                top: 343px;
                letter-spacing: 0.1px;
                word-spacing: -0.1px;
            }

            #tj_2 {
                left: 702px;
                top: 343px;
                letter-spacing: 0.4px;
            }

            #tk_2 {
                left: 434px;
                top: 366px;
                letter-spacing: 0.2px;
                word-spacing: -0.5px;
            }

            #tl_2 {
                left: 604px;
                top: 366px;
                letter-spacing: 0.2px;
                word-spacing: -0.6px;
            }

            #tm_2 {
                left: 57px;
                top: 431px;
                letter-spacing: 0.1px;
                word-spacing: 1.5px;
            }

            #tn_2 {
                left: 57px;
                top: 451px;
                letter-spacing: 0.1px;
                word-spacing: -0.5px;
            }

            #to_2 {
                left: 111px;
                top: 558px;
                letter-spacing: 0.5px;
                word-spacing: 0.1px;
            }

            #tp_2 {
                left: 615px;
                top: 560px;
                letter-spacing: 0.8px;
            }

            #tq_2 {
                left: 111px;
                top: 631px;
            }

            #tr_2 {
                left: 316px;
                top: 631px;
                letter-spacing: -0.2px;
            }

            #ts_2 {
                left: 616px;
                top: 632px;
            }

            #tt_2 {
                left: 434px;
                top: 235px;
            }

            #tu_2 {
                left: 424px;
                top: 103px;
                letter-spacing: -0.1px;
            }

            #tv_2 {
                left: 228px;
                top: 188px;
            }

            .s1_2 {
                FONT-SIZE: 71.7px;
                FONT-FAMILY: CIDFont-F2_j;
                color: rgb(0,0,0);
            }

            .s2_2 {
                FONT-SIZE: 66.6px;
                FONT-FAMILY: CIDFont-F2_j;
                color: rgb(0,0,0);
            }

            .s3_2 {
                FONT-SIZE: 62.2px;
                FONT-FAMILY: CIDFont-F2_j;
                color: rgb(0,0,0);
            }

            .s4_2 {
                FONT-SIZE: 49px;
                FONT-FAMILY: CIDFont-F2_j;
                color: rgb(0,0,0);
            }

            .s5_2 {
                FONT-SIZE: 71.7px;
                FONT-FAMILY: CIDFont-F4_12;
                color: rgb(38,38,38);
            }
        </style>
        <!-- End inline CSS -->
        <!-- Begin page background -->
        <div id="pg2Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
        <div id="pg2" style="-webkit-user-select: none;">
        <img src="~/Content/Images/proporal_pic2.png" style="width:283px; height:90px; position:absolute; left: 35%; background-color:white; -moz-transform:scale(1); z-index: 0;"></div>
        <div id="tu_2" class="t s5_2">Agreement</div>
        <div id="tv_2" class="t s1_2">BETWEEN PURCHASER: </div>
        <div id="tt_2" class="t s1_2">Frametown</div>
        <div id="tf_2" class="t s1_2">AND SELLER: </div>
        <div id="tg_2" class="t s1_2">Creative Kitchens Incorporated</div>
        <div id="th_2" class="t s1_2">@Model.Lead.branch.address.address1, </div>
        <div id="ti_2" class="t s1_2">@Model.Lead.branch.address.city, @Model.Lead.branch.address.state </div>
        <div id="tj_2" class="t s1_2">@Model.Lead.branch.address.zipcode</div>
        <div id="tk_2" class="t s1_2">Phone: @Model.Lead.branch.phone_number </div>
        <div id="tl_2" class="t s1_2">Fax: @Model.Lead.branch.fax_number</div>
        <div id="tm_2" class="t s3_2">Creative Kitchens agrees to furnish the materials and services set forth in the Products &amp; Materials List (Exhibit A) and the Scope of</div>
        <div id="tn_2" class="t s3_2">Work (Exhibit B) annexed hereto.</div>
        <div id="t1_2" class="t s1_2">The Purchaser agrees to make payment therefore in accordance with the following:</div>
        <div id="to_2" class="t s1_2">Total Purchase Price</div>
        <div id="t2_2" class="t s1_2">Schedule of Payment:</div>
        <div id="tq_2" class="t s2_2">Upon signing of this Proposal </div>
        <div id="tr_2" class="t s2_2">50%</div>
        <div id="t3_2" class="t s2_2">Upon Start Date of Work </div>
        <div id="t4_2" class="t s2_2">40%</div>
        <div id="t5_2" class="t s2_2">Upon Substantial Completion </div>
        <div id="t6_2" class="t s2_2">10%</div>
        @if (Model.TotalCost != null)
        {
            <div id="tp_2" class="t s3_2">$@Model.TotalCost.total_cost1</div>
            <div id="ts_2" class="t s3_2">$@Model.AmtDueAtSignProposal</div>
            <div id="t7_2" class="t s3_2">$@Model.AmtDueUponStartWork</div>
            <div id="t9_2" class="t s3_2">$@Model.AmtDueUponCompletion</div>
        }
        <div id="ta_2" class="t s3_2">1. Purchaser may not change the drawings, plans, specifications, or items specified unless agreed to by Creative Kitchens in writing.</div>
        <div id="tb_2" class="t s3_2">Creative Kitchens is not required to accept any such change to this Agreement. Should Purchaser request any changes or extra work,</div>
        <div id="tc_2" class="t s3_2">Creative Kitchens shall determine the cost thereof and such work will only be included as part of this Agreement pursuant to a</div>
        <div id="td_2" class="t s3_2">written change to this Agreement signed by both parties. The Purchaser shall pay in advance to Creative Kitchens, the total cost of</div>
        <div id="te_2" class="t s3_2">each change order, which amounts are non-refundable to Purchaser.</div>
        <div id="t8_2" class="t s4_2">page 1 of 3</div>
    </div>
</body>
</html>

