@model ck_project.Models.ProposalViewModel

@{
    ViewBag.Title = "Proposal_Page1";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/Print.css")" rel="stylesheet" type="text/css" />
</head>
<body style="margin: 0;">
    <div id="p1" style="overflow: hidden; position: relative; width: 935px; height: 1210px;">
        <!-- Begin inline CSS -->
        <style type="text/css">
            #t1_1 {
                left: 90px;
                top: 192px;
            }

            #t2_1 {
                left: 490px;
                top: 512px;
                letter-spacing: -0.3px;
            }

            #t3_1 {
                left: 459px;
                top: 950px;
            }

            #t4_1 {
                left: 697px;
                top: 950px;
            }

            #t5_1 {
                left: 440px;
                top: 977px;
                word-spacing: 0.1px;
            }

            #t6_1 {
                left: 725px;
                top: 977px;
            }

            #t7_1 {
                left: 490px;
                top: 176px;
                letter-spacing: -0.2px;
                word-spacing: 0.7px;
            }

            #t8_1 {
                left: 491px;
                top: 222px;
                letter-spacing: -0.7px;
            }

            #t9_1 {
                left: 490px;
                top: 314px;
                letter-spacing: 0.5px;
            }

            #ta_1 {
                left: 490px;
                top: 649px;
            }

            #tb_1 {
                left: 488px;
                top: 1002px;
                letter-spacing: 0.1px;
                word-spacing: -0.1px;
            }

            #tc_1 {
                left: 694px;
                top: 1002px;
            }

            .s1_1 {
                FONT-SIZE: 44.6px;
                FONT-FAMILY: CIDFont-F1_b;
                color: rgb(0,0,0);
            }

            .s2_1 {
                FONT-SIZE: 142.7px;
                FONT-FAMILY: CIDFont-F2_j;
                color: rgb(0,0,0);
            }

            .s3_1 {
                FONT-SIZE: 53.4px;
                FONT-FAMILY: CIDFont-F3_r;
                color: rgb(0,0,0);
            }

            .s4_1 {
                FONT-SIZE: 160.3px;
                FONT-FAMILY: CIDFont-F2_j;
                color: rgb(0,0,0);
            }

            .s5_1 {
                FONT-SIZE: 124.4px;
                FONT-FAMILY: CIDFont-F2_j;
                color: rgb(0,0,0);
            }
        </style>
        <!-- End inline CSS -->
        <!-- Begin page background -->
        <div id="pg1Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
        <div id="pg1" style="-webkit-user-select: none;">
        <img src="~/Content/Images/proporal_pic1.png" style="width:490px; height:1210px; background-color:white; -moz-transform:scale(1); z-index: 0;"/>
        <!-- End page background -->
        <!-- Begin text definitions (Positioned/styled in CSS) -->
        <div id="t1_1" class="t s1_1">1</div>
        <div id="t2_1" class="t s2_1">Frametown</div>
        <div id="t3_1" class="t s3_1">1242 Fifth Avenue, Huntington, WV 25701 </div>
        <div id="t4_1" class="t s3_1">304-529-2537</div>
        <div id="t5_1" class="t s3_1">5128 MacCorkle Avenue SE, Charleston, WV 25304 </div>
        <div id="t6_1" class="t s3_1">304-925-0459</div>
        <div id="t7_1" class="t s2_1">CREATIVE KITCHENS</div>
        <div id="t8_1" class="t s4_1">PROPOSAL</div>
        <div id="t9_1" class="t s5_1">with</div>
        <div id="ta_1" class="t s5_1">November 1, 2017</div>
        <div id="tb_1" class="t s3_1">PO Box 962, Lewisburg, WV 24901 </div>
        <div id="tc_1" class="t s3_1">304-645-4600</div>
        <!-- End text definitions -->

    </div>
</body>
</html>


    @*@{ var branchList = Model.Branch;
        foreach (var b in branchList)
        {
            <tr>
                <td>@b.address.address1 @b.address.city, @b.address.state @b.address.zipcode @b.phone_number</td>
            </tr>
        }
    }*@
       
        
        @*<div id="t5_1" class="t s3_1">5128 MacCorkle Avenue SE, Charleston, WV 25304 </div>
        <div id="t6_1" class="t s3_1">304-925-0459</div>
        <div id="t7_1" class="t s2_1">CREATIVE KITCHENS</div>
        <div id="t8_1" class="t s4_1">PROPOSAL</div>
        <div id="t9_1" class="t s5_1">with</div>
        <div id="ta_1" class="t s5_1">November 1, 2017</div>
        <div id="tb_1" class="t s3_1">PO Box 962, Lewisburg, WV 24901 </div>
        <div id="tc_1" class="t s3_1">304-645-4600</div>*@
        <!-- End text definitions -->

@*<script>
    var i = 3;
    $('.address').each(function () {
        var newID = 't' + i;
        $(this).attr('id', newID);
        $(this).val(i);
        i++;
    });
</script>*@






