
@{
    ViewBag.Title = "LeadPage";

    if (HttpContext.Current.User.IsInRole("Administrator")) {
        @Html.Partial("_AdminMenu")
    } else 
    {
        @Html.Partial("_MainMenu")
    }
}

<div class="container">
    <h2>Lead Management</h2>
    <ul id="myTab" class="nav nav-tabs">

        <li class="active"><a href="#leadTab" class="tab" data-toggle="tab" aria-expanded="true">Lead</a></li>
        <li><a href="#customerTab" class="tab" data-toggle="tab" aria-expanded="true">Customer</a></li>
        <li><a href="#productsTab" class="tab" data-toggle="tab" aria-expanded="true">Products and Materials</a></li>
        <li><a href="#installTab" class="tab" data-toggle="tab" aria-expanded="true">Installation</a></li>
        <li><a href="#summaryTab" class="tab" data-toggle="tab" aria-expanded="true">Summary</a></li>
        <li><a href="#printTab" class="tab" data-toggle="tab" aria-expanded="true">Print</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="leadTab">
            @{
                if (ViewBag.leadNumber != 0)
                {
                    if (ViewBag.editable)
                    {
                        @Html.Action("Edit", "Lead", new { id = ViewBag.leadNumber })
                    }
                    else
                    {
                        @Html.Action("Details", "Lead", new { id = ViewBag.leadNumber })
                    }
                }
                else
                {
                    @Html.Action("Add", "Lead", new { cid = ViewBag.customerNumber })
                }
            }
        </div>
        <div class="tab-pane" id="customerTab">
            @{
                if (ViewBag.customerNumber != 0)
                {
                    @Html.Action("Edit", "Customers", new { id = ViewBag.customerNumber })

                }
                else
                {
                    @Html.Action("AddCustomer", "Customers")
                }
            }
        </div>
        <div class="tab-pane" id="productsTab">
            @*@Html.Action("View", "Product", new { id = ViewBag.leadNumber })*@
        </div>
        <div class="tab-pane" id="installTab">
           @Html.Action("Lis","Install")
        </div> 
        <div class="tab-pane" id="summaryTab">
            @Html.Action("SummaryTab", new { id = ViewBag.leadNumber })
        </div>
        <div class="tab-pane" id="printTab">
            @Html.Action("PrintTab", new { id = ViewBag.leadNumber })
        </div>
    </div>
</div> 


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');

            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop() || $('html').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });

            // Change tab on hashchange
            window.addEventListener('hashchange', function () {
                var changedHash = window.location.hash;
                changedHash && $('ul.nav a[href="' + changedHash + '"]').tab('show');
            }, false);
        });

        $(document).ready(function () {
            $(".navbar-nav li").removeClass("active");//this will remove the active class from  
            //previously active menu item 
            $('#lead').addClass('active');
        });
    </script>
}

