@model IEnumerable<ck_project.lead>

@{
    ViewBag.Title = "MainPage";
}

@Html.Partial("_MainMenu")

<div class="container">
    <table>
        <tr>
            <td style="width:1150px"><h2>Projects</h2></td>
            <td style="width:50px">
                <div data-toggle="modal" data-target="#myModal"><i class="fa fa-question-circle-o" style="font-size:15px; color: blue;"></i> Help</div>
            </td>
        </tr>
    </table>
    <div style="padding-left:70%; padding-bottom:10px;">
        @using (Html.BeginForm("MainPage", "Home", FormMethod.Get))
        {
            <b>Search by:&nbsp;&nbsp;&nbsp;</b>
            @Html.RadioButton("searchBy", "Status")<text>  Status</text><br />
            @Html.TextBox("search");<input type="submit" value="search" />
        }
    </div>
    <table class="table table-striped">
        <thead class="mdb-color darken-3">
            <tr>
                <th>Project Name</th>
                <th>Customer</th>
                <th>Project Type</th>
                <th>Project Status</th>
                <th>Created Date</th>
                <th>Last Modified Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.project_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.customer.customer_firstname)
                        @Html.DisplayFor(modelItem => item.customer.customer_lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.project_type.project_type_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.project_status.project_status_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lead_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Last_update_date)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "LeadPage", "Home", new { id = item.lead_number, cid = item.customer_number, edit = true }, null) |
                        @Html.ActionLink("View", "LeadPage", "Home", new { id = item.lead_number, cid = item.customer_number, edit = false }, null) |
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Main Page</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>"Closed" projects can only be found in Archived screen.</li>
                        <li>This screen only shows the top 10 latest projects that pertains to the current user.</li>
                        <li>To search for a specific project, please go to Lead Management --> View Lead.</li>
                        <li>To search by status, please use the search box.</li>
                        <li>To return to a default search, please clear the search box.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>