@model ck_project.Models.ProjectSummary

@{
    Layout = null;
    @Scripts.Render("~/bundles/jquery")
}

<script type="text/javascript">
    function leadFunction() {
        $('#myTab a[href="#leadTab"]').tab('show');
        location.hash = 'leadTab';
    }
    function productFunction() {
        $('#myTab a[href="#productsTab"]').tab('show');
        location.hash = 'productsTab';
    }
    function installFunction() {
        $('#myTab a[href="#installTab"]').tab('show');
        location.hash = 'installTab';
    }
</script>

<div class="container">
    <div align="center" style="padding-bottom:5%"><h3><b>PROJECT SUMMARY</b></h3></div>
    <div style="clear:both; margin-left:3%">
        <table>
            <tr>
                <td class="col-md-3"><b>Project</b></td>
                @{ 
                    if (Model != null)
                    {
                        <td class="col-md-7">@Model.Lead.project_name</td>
                    }
                }

            </tr>
            <tr>
                <td class="col-md-3"><b>Customer</b></td>
                @{
                    if (Model != null)
                    {
                        <td class="col-md-7">@Model.Lead.customer.customer_firstname @Model.Lead.customer.customer_lastname</td>
                    }
                }
            </tr>
        </table>
    </div>
    <div><hr style="border:solid 1px black"/></div>
    <div style="float: left"><h4><b>Lead Info</b></h4></div>
    <div style="float: right"><input style="width:auto" type="button" value="View Details" class="btn btn-default" onclick="leadFunction()"/></div>
    <div style="clear: both; margin-left: 3%">
        <table>
            <tr style="padding-bottom:20px">
                <td class="col-md-3"><b>Designer</b></td>
                @{
                    if (Model != null)
                    {
                        <td class="col-md-7">@Model.Lead.employee.emp_firstname @Model.Lead.employee.emp_lastname</td>
                    }
                }
            </tr>
            <tr>
                <td class="col-md-3"><b>Show room</b></td>
                @{
                    if (Model != null)
                    {
                        <td class="col-md-7">@Model.Lead.branch.address.address1, @Model.Lead.branch.address.city, @Model.Lead.branch.address.state @Model.Lead.branch.address.zipcode</td>
                    }
                }
            </tr>
            <tr>
                <td class="col-md-3"><b>Jobsite</b></td>
                @{
                    if (Model != null)
                    {
                        <td class="col-md-7">@Model.Lead.address.address1, @Model.Lead.address.city, @Model.Lead.address.state @Model.Lead.address.zipcode</td>
                    }
                }
            </tr>
        </table>
    </div>
    <hr  style="border:solid 1px black"/>
    <div style="float: left"><h4><b>Products Info</b></h4></div>
    <div style="float: right"><input style="width:auto" type="button" value="View Details" class="btn btn-default" onclick="productFunction()"/></div>
    <div style="clear: both; margin-left: 3%">
        <table>
            @{
                if (Model != null)
                {
                    foreach (var item in Model.Lead.products)
                    {
                        <tr style="padding-bottom:20px">
                            <td class="col-md-3"><b>@item.cat_anme</b></td>
                            <td class="col-md-7">@item.price</td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
    <hr  style="border:solid 1px black"/>
    <div style="float: left"><h4><b>Installations Info</b></h4></div>
    <div style="float: right"><input style="width:auto" type="button" value="View Details" class="btn btn-default" onclick="installFunction()"/></div>
    <div style="clear: both; margin-left: 3%">
        <table style="width:80%">
            <thead class="mdb-color darken-3">
                <tr>
                    <th class="col-md-4"></th>
                    <th class="col-md-2" align="center">Hours</th>
                    <th class="col-md-2" align="center">Material Cost</th>
                    <th class="col-md-2" align="center">Total</th>
                </tr>
            </thead>
            @{
                if (Model != null)
                {
                    foreach (var item in Model.InstallCategories)
                    {
                        foreach (string key in item.Keys)
                        {
                            var costList = item[key];
                            <tr style="padding-bottom:20px">
                                <td class="col-md-4"><b>@key</b></td>
                                @foreach (double cost in costList)
                                {
                                    <td class="col-md-2">@cost</td>
                                }
                            </tr>
                        }
                    }
                }
            }
        </table>
    </div>
    <hr  style="border:solid 1px black"/>
    <div style="float: left"><h4><b>Taxes and Fees</b></h4></div>
    <div style="clear: both; margin-left: 3%">
        <table>
            <tr  style="padding-bottom:20px">
                <td class="col-md-3"><b>Travel Expense</b></td>
                @{
                    if (Model != null)
                    {
                        foreach (var item in Model.Lead.installations)
                        {
                            <td class="col-md-7">@item.total_travel_cost</td>
                        }
                    }
                }

            </tr>
            <tr> 
                <td class="col-md-3"><b>Hotel Expense</b></td>
                <td class="col-md-7"></td>
            </tr>
            <tr>
                <td class="col-md-3"><b>Per Diem</b></td>
                @{
                    if (Model != null)
                    {
                        foreach (var item in Model.Lead.installations)
                        {
                            <td class="col-md-7">@item.total_per_diem_cost</td>
                        }
                    }
                }
            </tr>
            <tr>
                <td class="col-md-3"><b>Building Permits</b></td>
                @{
                    if (Model != null)
                    {
                        <td class="col-md-7">@Model.TotalCost.building_permit_cost</td>
                    }
                } 
            </tr>
            <tr>
                <td class="col-md-3"><b>Related Taxes, Permits and Fees</b></td>
                @{
                    if (Model != null)
                    {
                        <td class="col-md-7">@Model.TotalCost.tax_cost</td>
                    }
                } 
            </tr>
        </table>
    </div>
</div>
