@model IEnumerable<ck_project.archive_leads>

@{
    if (HttpContext.Current.User.IsInRole("Administrator"))
    {
        @Html.Partial("_AdminMenu")
    }
    else
    {
        @Html.Partial("_MainMenu")
    }
}

<div class="container">
    <h2>Lead Details</h2>



    <table class="table table-striped">
        <thead class="mdb-color darken-3">
            <tr>
                <th>
                    Project Name
                </th>

                <th>
                    Customer Name
                </th>

                <th>
                    Customer Phone
                </th>
                <th>
                    Customer Email
                </th>
                <th>
                    Lead Phone
                </th>

                <th>
                    Lead Email
                </th>

                <th>
                    Sales Person
                </th>


        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.project_name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.customer_firstname)
                    @Html.DisplayFor(modelItem => item.customer_lastname)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.phone_number)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.customer_email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.lead_phone_number)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.lead_email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.emp_firstname)
                    @Html.DisplayFor(modelItem => item.emp_lastname)
                </td>


            </tr>
        }


        <tr>

            <th>
                Jobsite Address
            </th>

            <th>
                Jobsite City
            </th>

            <th>
                Jobsite County
            </th>

            <th>
                Jobsite State
            </th>

            <th>
                Jobsite Zipcode
            </th>

            <th>
                In City?
            </th>


            <th>
                Tax Exempt?
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.jobsite_address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobsite_city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobsite_county)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobsite_state)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobsite_zipcode)
                </td>
                <td>
                    @{
                        if (item.in_city == true)
                        {
                            @Html.DisplayName("Yes")

                        }
                        else
                        {
                            @Html.DisplayName("No")
                        }

                    }
                <td>

                    @{
                        if (item.tax_exempt == true)
                        {
                            @Html.DisplayName("Yes")

                        }
                        else
                        {
                            @Html.DisplayName("No")
                        }

                    }
                </td>

            </tr>
                        }

        <tr>

            <th>
                Branch
            </th>


            <th>
                Project Type
            </th>
            <th>
                Project Status
            </th>

            <th>
                Project Class
            </th>

            <th>
                Delivery Status
            </th>


            <th>
                Lead Source
            </th>
            <th>
                Project Class
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.branch_name)
                </td>



                <td>
                    @Html.DisplayFor(modelItem => item.project_type)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.project_status)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.class_name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.delivery_status)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.source_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.class_name)
                </td>


            </tr>
        }

        <tr>

            <th>
                Building Permit Cost
            </th>
            <th>
                Installation Cost
            </th>
            <th>
                Products Cost
            </th>
            <th>
                Tax Cost
            </th>
            <th>
                Project Total Cost
            </th>

            <th>
                Create Date
            </th>
            <th>
                Close Date
            </th>
            <th></th>
        </tr>

        @foreach (var item3 in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item3.building_permit_cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item3.installation_cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item3.product_cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item3.tax_cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item3.total_cost)
                </td>

                <td>
                    @item3.lead_date.ToString("dd MMM yyyy")
                </td>

                <td>
                    @{
                        if (item3.lead_close_date == item3.lead_date)
                        {
                            @Html.DisplayName(" - ")

                        }
                        else
                        {
                            @Html.DisplayName(item3.lead_close_date.ToString("dd MMM yyyy"))
                        }

                    }
                </td>
            </tr>
                        }


    </table>
    <div>
        @Html.ActionLink("Back to List", "ListArcLead")
    </div>
</div>
