@model IEnumerable<ck_project.archive_leads>


<h4>Archived Leads List (Closed Leads List)</h4>


<br>
@using (Html.BeginForm("ListArcLead", "ArcLeads", FormMethod.Get))
{
    @Html.TextBox("Search", ViewData.TemplateInfo.FormattedModelValue,
        new { placeholder = "Type project name here" });
    <input type="submit" value="Search" />

}
<br>

<table class="table table-striped">
    <thead class="mdb-color darken-3">
        <tr>
            <th>
                Project Name
            </th>
            <th>
                Branch
            </th>
            <th>
                Customer Name
            </th>

            <th>
                Email Address
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Salesperson Name
            </th>

            <th>
                Project Status
            </th>
            <th>
                Delivery Status
            </th>
            <th>
                Project Source
            </th>
            <th>
                Project Class
            </th>
            <th>
                Project Type
            </th>
            <th>
                Jobsite Address
            </th>
            <th>
                Jobsite City
            </th>
            <th>
                Jobsite County
            </th>
            <th>
                Jobsite State
            </th>
            <th>
                Jobsite Zipcode
            </th>
            <th>
                Lead Create Date
            </th>
            <th>
                Lead Close Date
            </th>
            <th>
                Tax Exempt?
            </th>
            <th>
                In City?
            </th>
            <th>
                Building Permit Cost
            </th>
            <th>
                Installation Cost
            </th>
            <th>
                Products Cost
            </th>
            <th>
                Tax Cost
            </th>
            <th>
                Total Cost
            </th>
            <th></th>
        </tr>

    </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.project_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.branch_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customer_firstname)

                    @Html.DisplayFor(modelItem => item.customer_lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email_lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emp_firstname)

                    @Html.DisplayFor(modelItem => item.emp_lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.project_status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.delivery_status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.source_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.class_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.project_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobsite_address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobsite_city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobsite_county)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobsite_state)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobsite_zipcode)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.lead_date)*@
                    @item.lead_date.ToString("dd MMM yyyy")

                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.lead_close_date)*@

                    @{
                        if (item.lead_close_date == item.lead_date)
                        {
                            @Html.DisplayName(" - ")

                        }
                        else
                        {
                            @Html.DisplayName(item.lead_close_date.ToString("dd MMM yyyy"))
                        }
                    }
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.tax_exempt)*@

                    @{
                        if (item.tax_exempt == true)
                        {
                            @Html.DisplayName("Yes")

                        }
                        else
                        {
                            @Html.DisplayName("No")
                        }

                    }

                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.in_city)*@

                    @{
                        if (item.in_city == true)
                        {
                            @Html.DisplayName("Yes")

                        }
                        else
                        {
                            @Html.DisplayName("No")
                        }

                    }
                </td>
                <td>

                    @{
                        if (item.building_permit_cost == null)
                        {
                            @Html.DisplayName(" - ")

                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.building_permit_cost)
                        }
                    }
                </td>
                <td>


                    @{
                        if (item.installation_cost == null)
                        {
                            @Html.DisplayName(" - ")

                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.installation_cost)
                        }
                    }
                </td>
                <td>


                    @{
                        if (item.product_cost == null)
                        {
                            @Html.DisplayName(" - ")

                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.product_cost)
                        }
                    }
                </td>
                <td>


                    @{
                        if (item.tax_cost == null)
                        {
                            @Html.DisplayName(" - ")

                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.tax_cost)
                        }
                    }
                </td>
                <td>


                    @{
                        if (item.total_cost == null)
                        {
                            @Html.DisplayName(" - ")

                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.total_cost)
                        }
                    }
                </td>

            </tr>
                        }

</table>
