<div class="container">
    <div class="row">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#leadTab" class="tab" data-info="leadInfo" data-toggle="tab">Lead</a></li>
                <li><a href="#customerTab" class="tab" data-info="customerInfo" data-toggle="tab">Customer</a></li>
                <li><a href="#productsTab" class="tab" data-info="productsInfo" data-toggle="tab">Products and Materials</a></li>
                <li><a href="#installTab" class="tab" data-info="installInfo" data-toggle="tab">Installation</a></li>
                <li><a href="#summaryTab" class="tab" data-info="summaryInfo" data-toggle="tab">Summary</a></li>
                <li><a href="#printTab" class="tab" data-info="printInfo" data-toggle="tab">Print</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="leadTab">
                    @Html.Action("LeadTab", "Home")
                </div>  
                <div class="tab-pane" id="customerTab">
                    @Html.Action("LeadTab", "Home")
                </div>    
                <div class="tab-pane" id="productsTab">
                    @Html.Action("LeadTab", "Home")
                </div>
                <div class="tab-pane" id="installTab">
                    @Html.Action("LeadTab", "Home")
                </div>
                <div class="tab-pane" id="summaryTab">
                    @Html.Action("LeadTab", "Home")
                </div>
                <div class="tab-pane" id="printTab">
                    @Html.Action("LeadTab", "Home")
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    @*   $(function () {
        var hash = window.location.hash;
        hash && $('ul.nav a[href="' + hash + '"]').tab('show');

        $('.nav-tabs a').click(function (e) {
            $(this).tab('show');
            var scrollmem = $('body').scrollTop();
            window.location.hash = this.hash;
            $('html,body').scrollTop(scrollmem);
        });
*@
    $('.tab').on('click', function () {
            var info = $(this).data('info');
            switch (info) {
                case 'leadInfo': $('#leadTab p').load('/Views/Home/LeadTab'); //Controller method which returns partial view
                    break;
                case 'customerInfo': $('#customerTab p').load('/Views/Home/LeadTab'); //Controller method which returns partial view
                    break;
                case 'productsInfo': $('#productsTab p').load('/Views/Home/LeadTab'); //Controller method which returns partial view
                    break;
                case 'installInfo': $('#installTab p').load('/Views/Home/LeadTab'); //Controller method which returns partial view
                    break;
                case 'summaryInfo': $('#summaryTab p').load('/Views/Home/LeadTab'); //Controller method which returns partial view
                    break;
                case 'printInfo': $('#printTab p').load('/Views/Home/LeadTab'); //Controller method which returns partial view
                    break;
                //Add cases if you want
                default: break;
            }
    });
        
 //   });
</script>